  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="main">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="education">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Education</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="experience">
        <ion-icon name="code-working-outline"></ion-icon>
        <ion-label>Experience</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="projects">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Projects</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>
      
      <!-- <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>